.modal_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 2rem;
  width: 50%;
  box-sizing: border-box;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_cancel_btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
}

.modal_add_btn {
  background-color: #69665c;
  color: var(--primary-color);
  font-weight: bold;
  padding: 12px 48px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.form_input {
  margin-bottom: 14px;
}

.form_input > h4 {
  color: var(--text-color);
  margin-bottom: 8px;
}

.form_input > input[type="text"],
textarea {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  background-color: #efefef;
  border-radius: 5px;
  font-size: 16px;
  color: var(--text-color);
  box-sizing: border-box;
}

.multilineInput {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
}

.tags_button_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.error_message {
  font-size: 12px;
  color: red;
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
    padding: 1.5rem;
  }

  .modal_add_btn {
    padding: 10px 30px;
  }

  .form_input > input[type="text"],
  .form_input > textarea {
    font-size: 14px;
  }

  .tags_button_list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
    padding: 1rem;
  }

  .modal_add_btn {
    padding: 8px 20px;
  }

  .form_input > h4 {
    font-size: 14px;
  }

  .form_input > input[type="text"],
  .form_input > textarea {
    font-size: 14px;
  }

  .tags_button_list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .error_message {
    font-size: 10px;
  }
}
