:root {
  --primary-color: #ffffff;
  --secondary-color: #fff9de;
  --background-color: #f8f9fa;
  --text-color: #69665c;
}

.app {
  padding: 16px 28px;
}

.app_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.app_header > h1 {
  padding-left: 6px;
}

.app_header_button {
  border: none;
  outline: none;
  font-size: 60px;
  padding: 0px;
  margin-right: 12px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
}

.app_main {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding: 24px 0px;
}
